@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <p>Estoque:</p>
    Seus Produtos e Categorias.<br /> Você poderá "Listar", "Cadastrar", "Alterar" e "Excluir" seus produtos!
    <br />
    <br />
    Obrigado!
</div>